@font-face {
    font-family: lilita;
    src: url(./assets/fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face {
    font-family: alan-sans;
    src: url(./assets/fonts/Alan_Sans/static/AlanSans-Regular.ttf);
}
@font-face {
    font-family: raleway;
    src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topheader {
    font-family: lilita, Impact;
    font-size: 1rem;
    text-align: center;
    margin: 16px;
    color: black;
    text-shadow: 1px 2px 1px  #78557c;
    display: flex;
    & img {
        width: 100px;
        height: 100px;
    }
}
.catalogue-topheader {
    flex-grow: 1;
}

.catalogue-underheader {
    font-family: lilita, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 16px;
    color: #78557c;
    text-shadow: 1px 2px 1px black;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #da9ae1;
}

.list{
    background-color: #78557c;
    display: flex;
    justify-content: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
    text-align: center;
    min-height: 100vh;
}

.list ul{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #ffffff;
    padding: 8px;
    width: 300px;
    height: 270px;
    border: 2px solid magenta;
    border-radius: 12px;
    & button {
        margin-top: 12px;
        padding: 8px;
        border-radius: 12px;
        border: 2px solid #24e3bd;
        background-color: #24e3bd;
        font-family: raleway, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
        font-weight: 700;
        & a {
            text-decoration: none;
            color: black;
        }
        & a:hover {
            color: white;
        }
        &:hover {
            background-color: #78557c;
            border: 2px solid #78557c;
            cursor: pointer;
        }
    }
}
.item-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.list-image {
    height: 200px;
    width: 170px;
    background-color: rgb(255, 255, 255);
}
.list-description {
    margin-top: 20px;
    padding: 8px;
    height: 60px;
    font-family: alan-sans, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: 700;
    background-color: #f3eded;
    color: #000000;
    width: 300px;
    border-radius: 12px;
    border: 5px solid #24e3bd;
    border-top: 0;
    & ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    & li.peso {
        list-style: circle;
    }
}