@font-face {
    font-family: lilita;
    src: url(./assets/fonts/Lilita_One/LilitaOne-Regular.ttf);
}
 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #78557c;
    height: 100vh;
}

.main-container{
    display: flex;
    height: 700px;
}
.topheader {
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px dotted #F9FAF8;
    gap: 8px;
    margin: 16px;
    & img {
        width: 100px;
        height: 100px;
    }
}
.topheader li, .topheader a {
    list-style: none;
    text-decoration: none;
    color: #F9FAF8;
    font-size: 1.5rem;
    font-family: lilita, sans-serif;
    text-shadow: 1px 2px 1px black;

}
.topheader li :hover {
    background-color: #533b56;
    border-radius: 12px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vd {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 1000;
    flex-grow: 1;
    font-family: raleway, arial;
    text-shadow: #000000 1px 1px 1px;
}

#nego {
    width: 500px;
    height: 250px;
    margin: 16px;
    box-shadow: 20% #07090c;
    border-radius: 10%;
}

.underheader {
    display: flex;
    justify-content: flex-end;
}
.textarea {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    color: #F9FAF8;
    flex-grow: 1;

}

.address {
    margin-top: 12px;
}

.button1 {
    margin-top: 12px;
    border: none;
    background-color: #f63868;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    width: 150px;
}

.info {  
    width: 100%;
    margin-top: 10%;
    display: flex;
    gap: 8px;
    flex-direction: column;
   align-items: center;
    margin-bottom: 36px;
    box-shadow: 0px 0px 4px 0px rgba(58, 58, 58, 0.884);
}
.adicional {
    justify-self: center;
    font-size: 2.5rem;
    font-family: myFont, arial;
    color: #06152e;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 100%;
}
#products-title {
    color: #E5E7EB;
}
.info-header {
    font-family: myFont, arial;
    font-size: 1.5rem;
    font-weight: 1000;

}

.info-food img {
    border-radius: 10px;
    padding: 10px;
}

.aviso {
    
    width: 80%;
    background-color: #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    margin: 16px;
    box-shadow: 0px 0px 4px 0px rgba(58, 58, 58, 0.884);
}

.contact-div {
    justify-self: center;
    background-color: #58dd8b;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 2rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    box-shadow: 0px 0px 4px 0px rgba(58, 58, 58, 0.884);
    & a{
        text-decoration: none;
    }
}
.contact-div div {
    display: flex;
    gap: 1rem;
}

.contact-div h2 {
    font-family: myFont, arial;
    font-size: 1.5rem;
    color: #000000;
    align-self: flex-start;

}

.contact-div img {
    max-height: 2rem;
    max-width: 2rem;
}

.link {
    display: flex; 
    justify-content: start;
    align-items: center;
    gap: 1.5em;
    text-decoration: none;
    & :hover{
        cursor: pointer;
        font-size: 2rem;
    }
}

.footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background: #78557c9c;
        color: #020202;
}
@media screen and (max-width: 500px) {
    body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    .topheader {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        & a{
        font-size: 0.8em;
        }
        & img {
            width: 50px;
            height: 50px;
        }
        & h1 {
            font-size: 1.5em;
            flex-grow: 1;
            width: 70%;
        }
    }
    #nego {
        margin-top: 70px;
        width: 350px;
        height: 175px;
    }
    .main-container{
        max-width: 100vw;
        flex-direction: column;
        align-items: center;
    }
      .underheader {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
    }
    .underheader .textarea {
        font-size: 0.8em;
    }
}